<div class = "outBound">
  <div class = "nav">
    <div style = "border-width:2px; border-style:solid; border-color:blue">
      <ul>
        <li class = "navText"> Home </li>
        <li class = "navText"> Taco Menu </li>
        <li class = "navText"> Draft List</li>
        <li class = "navText"> Directions</li>
        <li class = "navText"> Contact</li>
      </ul>
    </div>
  </div>
  <div class = "sections">
    <div class = "section"> These Angular docs help you learn and use the Angular platform and framework, from your first app to optimizing complex enterprise apps. Tutorials and guides include downloadable example to accelerate your projects.</div>
    <div class = "section"> Assumptions
      These docs assume that you are already familiar with HTML, CSS, JavaScript, and some of the tools from the latest standards, such as classes and modules. The code samples are written using TypeScript. Most Angular code can be written with just the latest JavaScript, using types for dependency injection, and using decorators for metadata.

      Feedback
      You can sit with us!
      We want to hear from you. Report problems or submit suggestions for future docs.

      Contribute to Angular docs by creating pull requests on the Angular Github repository. See Contributing to Angular for information about submission guidelines.

      Our community values respectful, supportive communication. Please consult and adhere to the Code of Conduct.</div>
    <div class = "section"> Getting Started with Angular: Your First App
      Welcome to Angular!

      This tutorial introduces you to the essentials of Angular by walking you through building a simple e-commerce site with a catalog, shopping cart, and check-out form. It uses the StackBlitz online development environment so you can get started right away. </div>
  </div>

</div>
